header {
    background: #181a1b;
    background-size: cover;
    min-height: 98vh;
    position: relative;
    #nav {
        width: 100%;
        background: rgb(24,26,27);
        background: linear-gradient(180deg, rgba(24,26,27,1) 0%, rgba(134,137,139,1) 100%);
        font-family: "Inter", sans-serif;
    }
    .container {
        max-width: 1100px;
        padding: 1.3rem 0.5rem 0.5rem 0.5rem;
        margin: auto;
        overflow: hidden;
        &__nav {
            display: flex;
            position: relative;
            justify-content: center;
            @media screen and (min-width: 1000px) {
                justify-content: left;
            }
        }
        &__logo {
            height: 4.5rem;
            cursor: pointer;
            padding-left: 50px;
            @media screen and (max-width: 1000px) {
                padding-left: 0;
            }
        }
        &__title {
            display: flex;
            text-align: center;
            width: 195px;
            padding-top: 8px;
            &--style {
                color: white;
                font-size: 1.2rem;
            }
        }
        &__mobile-menu {
            padding-top: 0;
        }
        &__desktop-menu {
            display: flex;
            justify-content: right;
            width: 65%;
            margin-right: 0;
            @media screen and (max-width:1000px) {
                display: none;
            }
        }
    }
    .desktop-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 75%;
        list-style-type: none;
        &__links {
            margin: 0 0.5rem;
            font-size: 1.1rem;
            letter-spacing: 1px;
            a {
                color: white;
                text-decoration: none;
                width: 10%;
                &::after {
                    content: "";
                    position: relative;
                    display: block;
                    width: 0;
                    height: 3px;
                    background: rgb(36,123,172);
                    background: linear-gradient(90deg, rgba(36,123,172,1) 0%, rgba(122,45,149,1) 100%);
                    transition: width 0.3s ease;
                }
                &:hover::after {
                    width: 100%;
                 }
            }
            i {
                padding-right: 10px;
            }
        }
    }
    .mobile-menu {
        justify-content: center;
        display: flex;
        &__links {
            margin: 0 0.5rem;
            font-size: 18px;
            @media screen and (max-width: 280px) {
                font-size: 16px;
            }
            a {
                color: white;
                text-decoration: none;
                &::after {
                    content: "";
                    position: relative;
                    display: block;
                    width: 0;
                    height: 3px;
                    background: rgb(36,123,172);
                    background: linear-gradient(90deg, rgba(36,123,172,1) 0%, rgba(122,45,149,1) 100%);
                    transition: width 0.3s ease;
                }
                &:hover::after {
                    width: 100%;
                 }
            }
        }
    }
    .wavesTop {
        display: flex;
        height: auto;
        svg {
            width: 100%;
            height: auto;
        }
    }
    .socials {
        position: absolute;
        bottom: 260px;
        left: -115px;
        font-family: "Inter", sans-serif;
        @media screen and (max-height: 750px) {
            bottom: 155px;
        }
        @media screen and (min-height: 900px) {
            bottom: 320px;
        }
        @media screen and (max-width: 1000px) {
            display: none;
        }
        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            li {
                transition: 0.3s;
                width: 100%;
                display: flex;
                justify-content: end;
                font-size: 1.5rem;
                width: 115%;
                height: 100%;
                &:hover {
                    transform: translateX(120px);
                }
                a {
                    text-align: right;
                    height: 100%;
                    width: 100%;
                    padding: 15px 20px;
                    text-decoration: none;
                    i {
                        font-size: 1.75rem;
                        margin-left: 1.5rem;
                    }
                }
            }
        }
    }
    .wavesBottom {
        display: flex;
        height: auto;
        align-items: flex-end;
        position: absolute;
        top: 97.9%;
        @media screen and (min-width: 280px) and (max-width: 412px) {
            top: 99%;
        }
        @media screen and (min-width: 1000px) and (max-width: 1461px) {
            top: 94.5%;
        }
        @media  screen and (min-width: 1462px) and (max-width: 2000px) {
            top: 92%
        }
        @media screen and (min-width: 2001px) and (max-width:3000px) {
            top: 89%;
        }
        svg {
            width: 100%;
            height: auto;
        }
    }
    .hero {
        z-index: 5;
        position: absolute;
        top: 57%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        font-family: "Inter", sans-serif;
        @media screen and (max-width: 280px) {
            top: 60%;
        }
        &__title {
            letter-spacing: 2px;
            text-align: center;
            font-size: clamp(2.5rem, 4vw, 4rem);
            color: #dcdcdc;
            max-width: 400px;
            margin: 0 auto;
            &--name {
                background: #319cd9;
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: inline-block;
                font-weight: 800;
            }
        }
        &__paragraph {
            color: #dcdcdc;
            line-height: 1.6;
            font-size: clamp(1.25rem, 2vw, 1.5rem);
            text-align: center;
            max-width: 530px;
            margin: 0 auto;
            padding: 0.5rem;
            @media screen and (max-width: 280px) {
                padding: 0;
            }
        }
        &__btn-container {
            white-space: nowrap;
            text-align: center;
            margin-top: 1rem;
        }
        &__btn {
            text-decoration: none;
            display: inline-block;
            padding: 0.7rem 1.5rem;
            transition: all 0.3s;
            border-radius: 3px;
            @media screen and (max-width: 280px) {
                padding: 0.7rem 1rem;
            }
            &--blu {
              color: white;
              background-color: #319cd9;
              border: 2px solid #319cd9;
              &:hover {
                  background-color: #165a9e;
                  border: 2px solid #165a9e;
              }
            }
            &--purp {
                color: #C530FA;
                background-color: transparent;
                border: 2px solid #C530FA;
                &:hover {
                    background-color: #C530FA;
                    color: white;
                }
            }
            i {
                padding-right: 5px;
            }
        }
    } 
    .scroll-btn-container {
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        bottom: 14%;
        @media screen and (max-width: 359px) {
            display: none;
        }
        @media screen and (max-width: 375px) {
            bottom: 8.7%;
        }
        &__header {
            display: flex;
            flex-direction: column;
            justify-content:space-between;
        }
        &__arrow {
            display: block;
            height: 20px;
            width: 20px;
            border-bottom: 2px solid #319cd9;
            border-right: 2px solid #319cd9;
            transform: rotate(45deg);
            margin: -20px 0;
            animation: animate 2s infinite;
            &:nth-child(2) {
                animation-delay: -0.2s;
            }
            &:nth-child(3) {
                animation-delay: -0.4s;
            }
        }
    }
}

@keyframes animate {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
    }
}
